body {
	max-width: 64em;
	width: 100%;
	margin: auto;

	font-size: 16px;
	font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
}

.site-header {
    white-space: nowrap;
}

header nav {
    margin-top: 1em;
    max-width: 100%;
    text-align: right;
    margin-bottom: 1em;
}

#mapid {
	display: inline-block;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
}

/* Table */
table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
}

tbody tr:nth-of-type(odd) {
	background: #eee;
	text-align: left;
}

th {
	font-weight: bold;
}

td, th {
	padding: 6px;
}

@media only screen and (max-width: 29em) {
	table {
		border: 0;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		display: block;
		margin-bottom: .5em;
	}

	table td::before {
		float: left;
	}

	td:not(:nth-child(1)) {
		display: none;
	}

	#mapid {
		padding-bottom: 80%;
	}
}
