{{ define "main" }}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>

    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <div class="content">
            {{ .Content }}
        </div>
		<div id="mapid" data-loc="{{ .Params.loc | jsonify }}"></div>
    </article>

<script type="text/javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script type="text/javascript" src="{{ "js/map.js" | absURL }}"></script>
{{ end }}
