{{ define "main" }}

	{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

	<table id="labs">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th colspan="3">135</th>
				<th colspan="3">120</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Location</th>

				<th>C-41</th>
				<th>B&W</th>
				<th>E-6</th>

				<th>C-41</th>
				<th>B&W</th>
				<th>E-6</th>
			</tr>
		</thead>

		<tbody>
			{{ range site.RegularPages }}
			<tr>
				<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
				{{ $l:= slice }}
				{{ with .Params.city}}{{ $l = $l | append . }}{{ end }}
				{{ with .Params.subdivision}}{{ $l = $l | append . }}{{ end }}
				{{ with .Params.country}}{{ $l = $l | append . }}{{ end }}
				<td>{{ delimit $l ", " }}</td>

				<td>{{ .Params.f135c41 }}</td>
				<td>{{ .Params.f135bw }}</td>
				<td>{{ .Params.f135e6 }}</td>

				<td>{{ .Params.f120c41 }}</td>
				<td>{{ .Params.f120bw }}</td>
				<td>{{ .Params.f120e6 }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>

{{ end }}
